html, body {
    height: 100%;
}

.header-tab {
    vertical-align: middle;

    width: 100%;
    height: 10%;
    /*display: block;*/
    /*float: left;*/
    /*position: absolute;*/
    /*min-height: 15%;*/
    /*display: block;*/
}

main{
    height: 80%;
    overflow: auto;
    /*position: absolute;*/
    /*float: left;*/
    /*display: block;*/
}

footer {
    height: 10%;
    /*position: absolute;*/
    /*float: left;*/
    /*display: block;*/
    /*bottom: 0;*/
    /*position: absolute;*/
    width: 100%;
    font-weight: bold;
}

.cf::before, .cf::after {
    content: "";
    display: table;
}

a{
    text-decoration: none;
}

.cf::after {
    clear: both;
}

.cf {
    zoom: 1;
}

.tab-title {
    display: block;
    margin: auto;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

ul {
    list-style: none;
    padding-left: 0;
}


.main-menu {
    width: 100%;
    display: table;
}

.main-menu-item {
    width: 25%;
    display: table-cell;
    text-align: center;
    /*float: left;*/
}

.container{
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    width: auto;
    overflow: auto;
}

#map{
    height: 100%;
}

.icon-map{
}